.comment-card {
  width: 90%;
  max-width: 40em;
  border-bottom: 1px solid #1e1e1e;
  margin: 1rem auto;
  padding: 0.2rem;
  .comment {
    font-family: "Akkurat-lite", sans-serif;
    padding: 0.5em;
    font-size: 0.8rem;
    line-height: 1.6;
  }
}
