.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  width: 90%;
  max-width: 30rem;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20rem;
  label {
    font-size: 0.8rem;
    margin-right: 5px;
  }
  input {
    width: 80%;
    padding: 8px;
    border: none;
    border-bottom: 4px solid #1e1e1e;
    outline: #1e1e1e;
    &::placeholder {
      color: #1e1e1e;
      font-family: "Akkurat-lite", sans-serif;
    }
  }
  button {
    width: 20%;
    margin-left: 5px;
    padding: 5px;

    color: #fff;
    background-color: #1e1e1e;
    border: 4px solid #1e1e1e;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    &:disabled {
      opacity: 0.6;
    }
  }
}
